*{
    box-sizing: border-box;
}
.box{
    border: 5px solid black;
    /* height: 500px; */
    perspective: 10in;
    perspective-origin: center;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.poe{
  width: 200px;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform-origin: 0% 0%;
    display: block;
    /* transform: translateX(-60px) translateY(-100px); */
  /* translate: 10px 300px; */
  /* transform: rotate(-45deg); */
  /* rotate: 10deg; */
  /* transform: scale(1.5); */
  /* transform: scaleX(3); */
  /* transform: scaleY(2); */
  /* scale: 1.2; */
  /* transform: skewY(4deg); */
}